
html, body{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
section.container{
    flex: 1 0 auto;
}
.Profilepic{
    width: 232px;
    height: 348px;
    border: 4px solid whitesmoke;
}

.carouselimg{
width: 600px;

}
footer{
    flex-shrink: 0;
}